{{head-script}}

{{#if validated}}
    <div id="wrapper">
        {{main-content isAdmin=isAdmin}}
    </div>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎访问MAX系统</span>
                    </li>
                    <li>
                        <a  {{action 'cleanCookie'}} href="javaScript:void();" onclick="logout()">
                            <i class="fa fa-sign-out"></i> 退出系统
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        {{outlet}}
    </div>
{{else}}
    {{login-page}}
{{/if}}

